*{
    margin: 0;
    padding: 0;
    font-family: 'dancing script', cursive;
}
body{
    font-size: 10px;
    width:100vw;
    height: 100vh;
    /* background-color: #003049; */
    background: url(pngtree-beatuful-nature-scenery-background-image_15517488.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.bigBox{
    width:80vw;
    height: 80vh;
    background-color: azure;
    border-radius: 4rem;
    font-size: 3em;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.bigBox h1{
    color: #C1121F;
    margin: 1em;
}
.link{
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
    justify-content: space-between;
}
.girl,.boy{
    height: 60%;
    width: 100%;
    display: flex;
}
.boy{
    justify-content: flex-end;
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #780000;
}
.alpha{
    background-color: #003049;
}
.alpha h1{
    color: #FDF0D5;
}
.name{
    text-align: center;
    width:50%;
    height: 5%;
    font-size: 1em;
    color:#780000
}
.submit{
    width: 5%;
    height: 4%;
    margin:0.3em;
    color: #780000;
}
    .box{
        height:50%;
        width:50%;
    }
@media(min-width:368px) and (max-width: 811px){
body{
    font-size: 8px;
}
.link{
    height: 40%;
}
}
@media(max-width: 367.9px){
body{
    font-size: 4px;
}
}

@media(max-width:368px){
     .link{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .img{
        width: 80%;
    }

    .img img{
        max-width: 180px;
    }

}

